body header {
  background-color: black; }
  body header div {
    display: flex;
    flex-direction: row; }
    body header div nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      body header div nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        padding-left: 25%; }
        body header div nav ul li {
          padding: 5px 10px 7px 10px;
          margin: 2px 2% 2px 2%;
          list-style-type: none; }
          body header div nav ul li a {
            color: white;
            text-decoration: none; }
            body header div nav ul li a:hover {
              color: #e7e5e5; }
            body header div nav ul li a:active {
              color: #a3a3a3; }

body footer div {
  color: white;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start; }
  body footer div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body footer div div h3 {
      font-size: 16px;
      font-style: normal;
      padding-bottom: 10px; }
    body footer div div a {
      color: white;
      text-decoration: none; }
    body footer div div img {
      width: 60px; }
    body footer div div p {
      font-size: 14px;
      padding-top: 5px;
      padding-bottom: 5px; }

body footer div p {
  font-size: 12px; }

body .mainIndex div {
  display: flex;
  justify-content: center;
  background-color: black; }

body .mainIndex section h1 {
  font-size: 18px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem; }

body .mainIndex section div {
  background-color: white; }
  body .mainIndex section div article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    body .mainIndex section div article div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 2rem;
      padding-bottom: 3rem; }
      body .mainIndex section div article div h2 {
        font-size: 18px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px; }

body .mainProductos h1 {
  color: white;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 18px;
  padding-left: 3%; }

body .mainProductos section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem; }
  body .mainProductos section article {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    body .mainProductos section article div {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .mainProductos section article div h2 {
        font-size: 18px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px; }

body .mainContacto h1 {
  color: white;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 18px;
  padding-left: 3%; }

body .mainContacto section form {
  padding-left: 3%;
  padding-top: 2rem;
  padding-bottom: 8rem; }
  body .mainContacto section form p {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px; }

* {
  margin: 0%;
  padding: 0%; }

body {
  font-family: 'Raleway', sans-serif; }
