//importaciones
@import "colores";
@import "estructura";
body {
    .mainNosotros {
        @media  only screen and (min-width:1024px) {
            h1 {
                @include titulos ($blanco, $negro)
                @include paddingy (1rem, 1rem)
                font-size: 18px;
                padding-left: 3%;
            }
            section {
                div {
                    @include flexflow (flex, row wrap)
                    justify-content: center;
                    div {
                        @include paddingx (2rem, 2rem)
                        @include paddingy (2rem, 2rem)
                    }
                }
            }
            div {
                @include flex (flex, row, center)
                p {
                    width: 70%;
                    font-size: 16px;
                    @include paddingy (0rem, 2rem)
                }
            }
            article {
                h2 {
                    @include flexcenter (flex,center)
                    font-size: 18px;
                }
                div {
                    @include flexcenter (flex, center)
                    @include paddingy (1rem, 2rem)
                }
            }
        }
    }
}
