//importaciones
@import "colores";
@import "estructura";
//Main brutlag
body {
    .mainBrutlag {
        h1 {
            @include titulos ($blanco, $negro)
            @include paddingy (1rem, 1rem)
            font-size: 18px;
            padding-left: 3%;
        }
        section {
            @include flex (flex, row, start)
            @include paddingy (3rem, 3rem)
            div {
                @include paddingx (2rem,2rem)
                div {
                    border: solid $negro 1px;
                    @include paddingx (10px, 10px)
                    h2 {
                        font-size: 16px;
                        padding: 10px;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 16px;
                        padding-bottom: 10px;
                        padding-left: 5px;
                    }
                    button {
                        color: $blanco;
                        background-color: $negro;
                        border-radius: 5px;
                        margin-bottom: 10px;
                        padding: 5px;
                    }
                }
            }
        }
    }
}