@import "colores";
@import "estructura";
@import "header";
@import "footer";
@import "mainIndex";
@import "mainproductos";
@import "maincontacto";
@import "mainnosotros";
@import "mainbrutlag";
//Estilos generales
* {
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Raleway', sans-serif;
}